<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="admin/style.css">
</head>
<body>
	<div>
			<h2>Welcome home, <%= user.username%></h2> 	

	</div>
    <a href="/home/insert">Register New Employee</a> |
	<a href="/home/view_users">EMPLOYEE LIST</a> |
	<a href="/logout">Logout</a><br>
	Username:  <%= user.username %> <br>
	Id: <%= user.id %> <br>
	Password: <%= user.password %> <br>
	Type: <%= user.type %> <br>
	SearchEmployee: <input type="text" name="search">
	<input type="submit" name="" value="search">
</body>
</html>